.ContactData {
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
.ContactData input {
  display: block;
  font-size: 18px;
  padding: 5px;
  margin: 10px auto;
}
